.title-line{
    background-color: $line-color;
    h2{
      font-size: 28px;
      color: white;
      padding-top: 11px;
      padding-bottom: 11px;
      text-align: center;
    }
}
.bold-text{
  font-size: 18px;
}
.button{
  text-align: center;
  color: white;
  width: 244px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $button-blue;
  margin: auto;
  margin-top: 34px;
  margin-bottom: 41px;
  cursor: pointer;
}
.date{
  font-size: 14px;
}
.pop-up_bg{
    background: black;
    opacity: 0.6;
    height: 100vh;
    width: 100vw;
    display: none;
    position: fixed;
    z-index: 9999;
}
.pop-up{
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    display: none;
    position: fixed;
    z-index: 9999;


    i{
        height: 20px;
        width: auto;
        float: right;
        padding-right: 15px;

    }
    form {

        background: white;
        h3{
            text-transform: uppercase;
            text-align: center;
        }
        padding-top: 42px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px 10px 10px 10px;
        border: 1px solid $line-color;
        max-width: 310px;

        input {
            left: 50%;
            transform: translate(23%,0);
            height: 30px;
            padding-left: 10px;
            width: auto;
            margin-bottom: 10px;
            margin-top: 10px;
            border: none;
            width: 210px;
            border: 0.5px solid $line-color;
            border-radius: 5px 5px 5px 5px;
        }

        .btn {
            text-transform: uppercase;
            padding: 0;
            height: auto;
            border: none;
            text-align: center;
            color: white;
            width: 210px;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: $button-blue;
            margin-bottom: 41px;
        }
    }
}
.map{
    iframe{
        width: 100%;
        height:450px;
    }
}
