.header{
    background-color: $color-darker;
    padding-bottom: 14px;
    padding-top: 14px;
    &__nav{
        color: white;
        margin: auto;
        width: auto;
        text-align: center;
        li{
            padding-left: 30px;
            padding-right: 30px;
            display: inline;
            font-size: 18px;
        }
    }
}