@import "vars";


/*==========  Desktop First  ==========*/


//Extra large: ≥1200px
@include media-breakpoint-down(xl) {

}

//Large: ≥992px
@include media-breakpoint-down(lg) {

}

//Medium: ≥768px
@include media-breakpoint-down(md) {
}

//Small: ≥576px
@include media-breakpoint-down(sm) {

}

//Extra small: >0
@include media-breakpoint-down(xs) {

}


/*==========  Mobile First  ==========*/

//Extra small: <576px
@include media-breakpoint-up(xs) {

}

//Small: ≤576px
@include media-breakpoint-up(sm) {

}

//Medium: ≤768px
@include media-breakpoint-up(md) {

}

//Large: ≤992px
@include media-breakpoint-up(lg) {

}

//Extra large: ≤1200px
@include media-breakpoint-up(xl) {

}
@media screen and (max-width: 460px) {
    .pop-up form input{
        margin: 10px;
        left: 0;
        transform: translate(0,0);
    }
}
