.second-screen {
    padding-bottom: 3%;
    &__commodity {
        margin-top: 30px;
        text-align: center;
    }

    &__price {
        font-weight: 300;
        margin-top: 6px;
    }

    img {
        margin-bottom: 18px;
    }

    .feedback-form {
        margin-top: 50px;

        form {
            select{
                margin-left: 7%;
                text-align: center;
            }
            h3 {
                text-transform: uppercase;
                text-align: center;
            }
            padding-top: 40px;
            top: 60%;
            transform: translate(0,0);
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px 10px 10px 10px;
            border: 1px solid $line-color;

            input {
                left: 50%;
                margin-left: 2.6%;
                transform: translate(23%,0);
                height: 30px;
                padding-left: 10px;
                width: auto;
                margin-bottom: 10px;
                margin-top: 10px;
                border: none;
                width: 210px;
                border: 0.5px solid $line-color;
                border-radius: 5px 5px 5px 5px;
            }

            .btn {
                text-transform: uppercase;
                padding: 0;
                height: auto;
                border: none;
                text-align: center;
                color: white;
                width: 210px;
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: $button-blue;
                margin-bottom: 41px;
            }
        }
    }
}
@media screen and(max-width:900px){
    .second-screen .feedback-form form{
        max-width: 310px;
        input{
            margin-left: 0;
        }
        select{
            margin-left: 16%;
        }
    }
}
