.sixth-screen {
    padding-bottom: 100px;
    .map{
        margin-top: 3%;
        text-align: center;
        h2{
            text-transform: uppercase;
            margin-bottom: 1.5%;
        }
    }
    .feedback-form {
        margin-top: 50px;

        form {

            h3{
                text-transform: uppercase;
                text-align: center;
            }
            padding-top: 40px;
            top: 60%;
            transform: translate(0,0);
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px 10px 10px 10px;
            border: 1px solid $line-color;
            max-width: 310px;

            input {
                left: 50%;
                transform: translate(23%,0);
                height: 30px;
                padding-left: 10px;
                width: auto;
                margin-bottom: 10px;
                margin-top: 10px;
                border: none;
                width: 210px;
                border: 0.5px solid $line-color;
                border-radius: 5px 5px 5px 5px;
            }

            .btn {
                text-transform: uppercase;
                padding: 0;
                height: auto;
                border: none;
                text-align: center;
                color: white;
                width: 210px;
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: $button-blue;
                margin-bottom: 41px;
            }
        }
    }
    .contacts{
        top: 50px;
        text-align: center;
        line-height: 40px;
        h1{
            text-transform: uppercase;
        }
        span{
            font-weight: bold;
            font-size: 20px;
        }
    }
}
