.third-screen {

    &__container {
        margin: auto;
        max-width: 888px;
        padding-bottom: 30px;
    }

    &__promotions {
        margin-top: 24px;
    }

    &__promotions-text {
        margin-top: 24px;
    }
}
