
// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;


//colors
$body-color: #000;
$line-color: #2196F3;
$color-darker: #0069C0;
$button-blue: #0D47a1;



//fonts



$default-font: "RobotoRegular", sans-serif;
$medium-font: "RobotoMedium", sans-serif;
$bold-font: "RobotoBold", sans-serif;
