@import "vars";
@import "fonts";
@import "libs";
@import "mixins";
@import "header";
@import "first-screen";
@import "second-screen";
@import "third-screen";
@import "fourth-screen";
@import "fifth-screen";
@import "sixth-screen";
@import "footer";
@import "elements";


html,
body {
	height: 100%;
}

body {
	min-width: 320px;
	position: relative;
	font-family: $default-font;
	overflow-x: hidden;
	color: $body-color;
	line-height: normal;
	input,
	textarea,
	button {
		outline: none;
	}
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

a {
	color: inherit;
	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

p, label {
	margin: 0;
	padding: 0;
}

img{
	max-width: 100%;
	height: auto;
}

.slick-slide{
	outline: 0 !important;
}

.page-inner {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.page-content {
	flex-grow: 1;
}

.footer{
  flex-shrink: 0;
}
.menu-icon{
	display: none;
}
.title-line{
	text-transform: uppercase;
}
@media screen and (max-width: 840px){
	nav{
		top: 45px;
		display: none;
		position: absolute;
		width: 100% !important;
		background-color: $color-darker;
		padding-bottom: 15px;
	}
	.header__nav li{
		display: block !important;
		margin-top: 15px;
		text-align: center;
	}
	.second-screen__commodity{
		text-align: center;
		img{
			width: 90%;
		}
	}
	.third-screen__container{
		text-align: center;
		img{
			width: 90%;
		}
	}
	.fourth-screen__coach{
		img{
			width: 90%;
		}
	}
	.menu-icon{
		display: block;
		margin-left: 90%;
	}
}

@media screen and (max-width: 570px) {
    .pop-up form input{
        margin: 10px;
        left: 10%;
        transform: translate(10%,0);
    }
}
@media screen and (max-width: 450px) {
    .pop-up form input{
        margin: 10px;
        left: 0;
        transform: translate(0,0);
    }
}
